/* Reset */

html, body {
	background: #fff;
	color: #333;
	font: 12px sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 0;
}

header, hgroup, nav, div, p, h1, h2, h3, h4, h5, h6, form, fieldset, section, article {
	background: none;
	border: none;
	display: block;
	font: normal 12px sans-serif;
	margin: 0;
	padding: 0;
}

ul, ol, dl {
	display: block;
	margin: 0;
	padding: 0;
}

li, dd, dt {
	list-style: none;
	margin: 0;
	padding: 0;
}

table { border-collapse: collapse; }

thead, tbody, tfoot {}

tr {}

th, td {
	font-weight: normal;
	text-align: left;
}

a, strong, em, del, sup, sub, small, big {
	color: #333;
	color: inherit;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	font-size: inherit;
	text-decoration: none;
}

button {cursor: pointer;}

.clear-fix:after {
	clear: both;
	content: ".";
	display: block;
	height: 1px;
	visibility: hidden;
	width: 1px;
}

.float-left {
	display: block;
	float: left;
}

.float-right {
	display: block;
	float: right;
}


/* Layout */

.wrapper {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

header {
	background: #000;
	border-bottom: 1px solid #e7e7e7;
}

#primary-tools {
	color: #646464;
	overflow: auto;
}

#primary-tools p {
	float: left;
	line-height: 30px;
}

#primary-tools ul {
	float: right;
	overflow: auto;
}

#primary-tools li {
	float: left;
	line-height: 30px;
	padding: 0 5px;
}

#primary-tools li.date {
	font-style: italic;
}

#primary-tools a {
	color: #bbb;
}

#primary-tools a:hover {
	color: #fff;
}

#primary-tools li.active {
	border-top: 4px solid #424242;
	line-height: 22px;
}

#primary-tools li.active a {
	color: #fff;
}

header nav {
	background: #fff;
	padding: 15px 0;
	position: relative;
}

#logo {
	background: url(../images/logo.png) no-repeat 0 center;
	display: block;
	float: left;
	height: 35px;
	overflow: hidden;
	text-indent: -9999px;
	width: 150px;
}

header nav ul {
	float: left;
	margin: 0 0 0 20px;
	overflow: visible;
}

header nav ul > li {
	float: left;
	margin: 0 5px;
	padding: 10px;
	position: relative;
	z-index: 999;
}

header nav ul > li a {
	color: #5a5a5a;
}

header nav ul > li a .arrow {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 5px solid #666;
	display: inline-block;
	height: 0;	
	margin: 0 0 0 5px;
	overflow: hidden;
	text-indent: -9999px;
	width: 0;	
}

header nav ul > li:hover {
	background: #666;
	color: #fff;
		
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

header nav ul > li.drop-down:hover {
	-webkit-border-radius: 0;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	
	-moz-border-radius: 0;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	
	border-radius: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

header nav ul > li:hover > a {
	color: #fff;
}

header nav ul > li:hover a .arrow {
	border-top-color: #fff;
}


header nav ul > li > ul {
	background: #666;
	display: none;
	float: none;
	left: 0;
	margin: 5px 0 0;
	min-width: 110%;
	padding: 5px 0 10px;
	position: absolute;
	z-index: 998;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

header nav ul > li > ul > li {
	background: none;
	border-bottom: 1px solid #6f6f6f;
	float: none;
	margin: 0 10px;
	padding: 0;
		
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

header nav ul > li > ul > li:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

header nav ul > li > ul > li:last-child {
	border: none;
}

header nav ul > li > ul > li > a {
	color: #bcbcbc;
	display: block;
	line-height: 21px;
	white-space: nowrap;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

header nav ul > li:hover > ul {
	display: block;
}



#main-container {	
	background: #f5f5f5;	
	position: relative;
}

#main-container.sidebar {
	background: url(../images/bg-leftCol.png) repeat-y #f5f5f5 center 0
}

#main-container.sidebar .body {
	float: left;
	width: 705px;
}

#left-col { 
	margin-right: 30px; 
	width: 465px
}

#right-col {
	width: 465px
}

.body {	
	padding: 30px 20px;
}

.body hgroup {
	margin: 0 0 40px 0;
}

.body h1 {
	font: bold 30px sans-serif;
}

.body hgroup p {
	
}

.left-bar {
	float: left;
	margin-right: 30px;
	width: 185px;
	z-index: 3;
}

.left-bar hgroup {
	margin: 30px 0 0;
}

.left-bar h2 {
	border-bottom: 1px solid #e7e7e7;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
}

.left-bar ul {
	padding: 0 30px 0 0;
}

.left-bar li {
	padding: 3px 0;
}

.left-bar a { color: #999; }
.left-bar a:hover { color: #333; }

.left-bar a.active { 
	color: #333; 
	font-weight: bold; 
}

.item-list {
	margin: 0 0 30px;
}

.item-list h3 {
	border-bottom: 2px solid #666;
	font-size: 18px;
	font-weight: bold;
	padding: 0 0 10px 0;
}


.item-list li {
	color: #999;
	border-bottom: 1px solid #bbb;
	padding: 8px 0;
}

.item-list .date {
	float: right;
	font-size: 11px;
	line-height: 16px;
	font-style: italic;
}

.item-list li:hover { background: #fff; }

.item-list a { color: #333; }

.item-list a:hover { color: #2575b9; }


/* Form Fields */

label { cursor: pointer; }

input[type="text"],
input[type="tel"],
input[type="email"] {
	background: #fff;
	border: 1px solid #dcdcdc;
	color: #333;
	padding: 7px 10px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus { 
	border-color: #bbb;
	outline: none; 
}


.add-button {
	background: #2575b9;
	color: #fff;
	font-weight: bold;
	padding: 7px 10px;
	text-transform: uppercase;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.add-button:hover {
	background: #408fd2;
}

.dataset-controls {
	margin: 0 0 30px 0;
}

#search {
	background: #fff;
	border: 1px solid #dcdcdc;
	float: left;
	margin: 0 20px 0 0;
	padding: 0;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}


#search-term {
	border: none;
	margin: 0;
}

#search label {
	color: #ccc;
	margin: 0;
}

#search select {
	background: none;
	border: none;
}

#search .dropdown {
	display: inline-block;
	position: relative;
}

#search .dropdown .selected {
	
}

#search .dropdown .selected:hover {
	color: #666;
	cursor: pointer;
}

#search .dropdown .selected:after {
	border-color: #ccc transparent transparent transparent;
	border-style: solid;
	border-width: 4px 3px 2px;
	display: inline-block;
	content: "";
	height: 0;
	margin: 0 5px;
	width: 0;
}

#search .dropdown .options {
	background: #fff;
	border-color: #ccc;
	border-style: solid;
	border-width: 0 1px 1px;
	min-width: 75px;
	padding: 0 10px 10px;
	position: absolute;
	right: 0;
	text-align: right;
	top: 22px;
	
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

#search .dropdown .options li {
	border-bottom: 1px dotted #ddd;
	padding: 3px;
}

#search .dropdown .options li a {
	color: #666;
}

#search .dropdown .options li a:hover {
	color: #333;
}

#search .dropdown .options li:last-child {
	border: none;
}


#search select:focus {
	outline: none;
}

#search button {
	background: #efefef;
	border: none;
	border-left: 1px solid #dcdcdc;
	margin: 0;
	padding: 7px 10px;
	
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

#search button:hover {
	background: #fff;
}

.dataset-controls .control-group {
	float: left;
	margin: 0 20px 0 0;
}

.dataset-controls .control-group li {
	background: #fff;
	border: 1px solid #dcdcdc;
	display: block;
	float: left;
	position: relative;
	margin: 0 -1px 0 0;
	z-index: 1;
}

.dataset-controls .control-group a {	
	color: #666;
	display: block;
	font-weight: bold;
	padding: 7px 10px;
	position: relative;
}

.dataset-controls .control-group li:hover {
	border-color: #bbb;
	color: #333;
	z-index: 500;
}

.dataset-controls .control-group li:first-child {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.dataset-controls .control-group li:last-child {
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

#delete-button a {
	color: #d11e00;
}

#delete-button:hover {
	border-color: #e4a99f;
}


.dataset-controls .pagination {
	float: right;
}

.dataset-controls .pagination p {
	float: left;
	line-height: 31px;
	margin: 0 10px 0 0;
}

.dataset-controls .pagination strong { font-weight: bold; }

.dataset-controls .pagination .disabled { padding: 7px 10px; }
.dataset-controls .pagination .disabled:hover { border-color: #dcdcdc; }

.dataset-controls .pagination a { }

.dataset-controls .pagination .arrow {
	display: inline-block;
	height: 0;
	overflow: hidden;
	text-indent: -9999px;
	width: 0;
}

.dataset-controls .pagination .previous .arrow {
	border-color: transparent #333 transparent transparent;
	border-style: solid;
	border-width: 5px 6px 5px 0;
}

.dataset-controls .pagination .next .arrow {
	border-color: transparent transparent transparent #333;
	border-style: solid;
	border-width: 5px 0 5px 6px;
}

.dataset-controls .pagination .previous.disabled .arrow {
	border-color: transparent #999 transparent transparent;
}

.dataset-controls .pagination .next.disabled .arrow {
	border-color: transparent transparent transparent #999;
}



.dataset {
	margin: 0 0 30px 0;
	width: 100%;
}

.dataset th,
.dataset td { padding: 7px 10px; }

.dataset th {
	border-width: 0 0 2px 0;
	border-color: transparent transparent #666 transparent;
	border-style: solid;
	font-weight: bold;
}

.dataset th a { font-weight: bold; }
.dataset th a:hover { color: #2575b9; }

.dataset th .arrow {
	display: inline-block;
	height: 0;
	margin: 0 5px;
	overflow: -9999px;
	text-align: left;
	text-indent: -9999px;	
	visibility: hidden;
	width: 0;
}

.dataset th .active .arrow { visibility: visible; }

.dataset th .asc .arrow {
	border-color: #333 transparent transparent;
	border-style: solid;
	border-width: 4px 3px 2px;
}

.dataset th .desc .arrow {
	border-color: transparent transparent #333;
	border-style: solid;
	border-width: 0 3px 4px;
}

.dataset tbody tr:hover {
	background: #fff;
}

.dataset td {
	border-width: 0 0 1px 0;
	border-color: transparent transparent #bbb transparent;
	border-style: solid;
}

.dataset .center-align { text-align: center; }

.dataset .right-align { text-align: right; }

#select-all-col {
	width: 20px;
}




/* Forms */
.body form.standard-form {
	width: 785px;
}

.body fieldset {
	margin: 0;
	padding: 0;
}

.body fieldset:after {
	clear: both;
	content: ".";
	display: block;
	height: 1px;
	visibility: hidden;
	width: 1px;
}

.body legend {
	background: url(../images/fieldset_bg.png) no-repeat 150px -40px;
	color: #666;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 10px 655px 10px 0; 
	text-align: right;
	width: 130px;
}

.body fieldset.collapsed legend {
	background-position: 150px 10px;
}

.body form.standard-form ul {}

.body form.standard-form li {
	margin: 0 0 10px;
}

.body form.standard-form li:after {
	clear: both;
	content: ".";
	display: block;
	height: 1px;
	visibility: hidden;
	width: 1px;
}

.body form.standard-form label {
	color: #999;
	display: block;
	float: left;
	font-weight: bold;
	margin: 0 20px 0 0;
	padding: 10px 0;
	text-align: right;
	width: 130px;
}

.body form.standard-form input[type="text"],
.body form.standard-form input[type="tel"],
.body form.standard-form input[type="email"] {
	color: #333;
	font-weight: bold;
	width: 270px;
}

.body form.standard-form input[type="text"].small {
	width: 75px;
}

.body form.standard-form input[type="radio"] {
	height: 30px;
}

.body form.standard-form .checkboxes {
	margin: 0 0 0 150px;
	width: 635px;
}

.body form.standard-form .checkboxes label {
	background: url(../images/checkbox_bg.png) no-repeat #fff 0 -1px;
	border: 1px solid #dcdcdc;
	color: #999;
	display: block;
	float: none;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 10px 7px 10px 40px;
	text-align: left;
	width: 150px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.body form.standard-form .checkboxes label.checked {
	background-position: 0 -40px;
	border-color: #999;
	color: #333;
}

.body form.standard-form .checkboxes label:hover {
	background-color: #f5f5f5;
}

.body form.standard-form .checkboxes label input {
	display: none;
}

.body form.standard-form .two-cols {
	-webkit-column-width: 175px;
	-moz-column-width: 175px;
	-ms-column-width: 175px;
	column-width: 175px;
}




.body form.standard-form .dropdown {
	background: url(../images/dd_arrow.png) no-repeat #fff right top;
	border: 1px solid #dcdcdc;
	color: #333;
	display: inline-block;
	padding: 7px 10px;
	position: relative;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.body form :focus {
	outline: none; 
}

.body form.standard-form .dropdown.active {	
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.body form.standard-form .selected {
	color: #333;
	cursor: pointer;
	font-weight: bold;
	padding-right: 30px;
}


.body form.standard-form .options {
	background: #fff;
	border: 1px solid #dcdcdc;
	border-top: none;
	color: #333;
	left: -1px;
	padding: 10px;
	position: absolute;
	top: 24px;
	width: 110%;
	z-index: 500;
	
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.body form.standard-form .options ul {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}

.body form.standard-form .options li {
	display: block;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	width: auto;
}

.body form.standard-form .options a {
	border-bottom: 1px dotted #dcdcdc;
	color: #999;
	display: block;
	margin: 0;
	padding: 5px 0;
}

.body form.standard-form .options a:hover { color: #333; }

.body form.standard-form .options li:last-child a { border: none; }



.body form.standard-form .form-controls {
	margin-left: 150px;
}

.save-button {
	background: #2575b9;
	border: none;
	color: #fff;
	font-weight: bold;
	min-width: 150px;
	padding: 7px 30px;
	text-align: center;
	text-transform: uppercase;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.save-button:hover {
	background: #408fd2;
}



/* Footer */

#footer {
	border-top: 1px solid #e7e7e7;
	color: #aaa;
	font-size: 11px;
	padding: 30px 0;
}

#footer a {
	color: #666;
}

#footer a:hover {
	color: #333;
}

